<% data = jsonData; %><!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>" />
  <meta name="keywords" content="<%= data.keywords %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="<%= data.title %>" />
  <meta property="og:description" content="<%= data.description %>" />
  <meta property="og:keywords" content="<%= data.keywords %>" />
  <meta property="og:url" content="<%= data.id %>.html" />
  <meta property="og:image" content="<%= data.image %>" />
  <meta property="og:type" content="article" />
  <link rel="shortcut icon" href="<%= relative_path %>assets/img/favicon.ico" />
  <!--[if lt IE 9]>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
  <link rel="stylesheet" href="<%= relative_path %>assets/css/common.css" />
  <script src="<%= relative_path %>assets/lib/js/modernizr.js"></script>
</head>

<body>
  <div class="">
    <header>
    </header>
    <div class="">
      <ul class="tags">
         <% for (var key in data.tags) { %><li><a href="<%= data.tags[key].url %>"><%= data.tags[key].name %></a></li><% } %>
      </ul>
    </div>
  </div>
</body>

</html>
