<% assets_path = 'assets/'; %>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    <%= meta.title %>
  </title>
  <meta name="description" content="<%= meta.description %>" />
  <meta name="keywords" content="<%= meta.keywords %>" />
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="<%= meta.title %>" />
  <meta property="og:description" content="<%= meta.description %>" />
  <meta property="og:keywords" content="<%= meta.keywords %>" />
  <meta property="og:url" content="<%= meta.url %>" />
  <meta property="og:image" content="<%= meta.image %>" />
  <meta property="og:type" content="<%= meta.type %>" />
  <link rel="shortcut icon" href="<%= relative_path %><%= assets_path %>img/favicon.ico" />
  <!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="<%= relative_path %><%= assets_path %>css/style.css" />
