
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>
  <%= meta.title %>
</title>
<meta name="description" content="<%= meta.description %>" />
<meta name="keywords" content="<%= meta.keywords %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta property="og:site_name" content="" />
<meta property="og:title" content="<%= meta.title %>" />
<meta property="og:description" content="<%= meta.description %>" />
<meta property="og:keywords" content="<%= meta.keywords %>" />
<meta property="og:url" content="<%= meta.url %>" />
<meta property="og:image" content="<%= meta.image %>" />
<meta property="og:type" content="<%= meta.type %>" />
<link rel="shortcut icon" href="<%= relative_path %>img/favicon.ico" />
<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="<%= relative_path %>assets/css/style.css" />
<script src="<%= relative_path %>assets/lib/js/modernizr.js"></script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="<%= relative_path %>assets/lib/js/jquery.js"><\/script>')
</script>
<!--<![endif]-->
<script src="<%= relative_path %>assets/js/main.js"></script>
